<ng-container *ngIf="user$ | async as user">
  <div class="container flex mx-auto mt-10">
    <div class="w-1/5 mr-4">
      <ul class="flex flex-col mb-5 font-medium text-gray-700">
        <li>
          <a class="block px-3 py-1 rounded bg-sky-100 text-sky-700"
            ><fa-icon [icon]="faTrello"></fa-icon> Boards</a
          >
        </li>
        <li>
          <a class="block px-3 py-1"
            ><fa-icon [icon]="faBox"></fa-icon> Templates</a
          >
        </li>
        <li>
          <a class="block px-3 py-1"
            ><fa-icon [icon]="faWaveSquare"></fa-icon> Home</a
          >
        </li>
      </ul>

      <cdk-accordion>
        <cdk-accordion-item #accordionMenu="cdkAccordionItem">
          <button
            class="flex items-center justify-between w-full px-2 py-1"
            type="button"
            (click)="accordionMenu.toggle()"
          >
            My workspace
            <fa-icon
              [icon]="accordionMenu.expanded ? faAngleUp : faAngleDown"
            ></fa-icon>
          </button>
          <div [style.display]="accordionMenu.expanded ? '' : 'none'">
            <ul class="flex flex-col ml-2 text-sm text-gray-700">
              <li>
                <a class="block px-3 py-1"
                  ><fa-icon [icon]="faTrello"></fa-icon> Boards</a
                >
              </li>
              <li>
                <a class="block px-3 py-1"
                  ><fa-icon [icon]="faHeart"></fa-icon> Highlights</a
                >
              </li>
              <li>
                <a class="block px-3 py-1"
                  ><fa-icon [icon]="faBorderAll"></fa-icon> Views</a
                >
              </li>
              <li>
                <a class="block px-3 py-1"
                  ><fa-icon [icon]="faUsers"></fa-icon> Members</a
                >
              </li>
              <li>
                <a class="block px-3 py-1"
                  ><fa-icon [icon]="faGear"></fa-icon> Settings</a
                >
              </li>
            </ul>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </div>
    <div class="w-full">
      <h1 class="mb-4 text-lg font-bold">Hola, {{ user.name }}</h1>
      <h1 class="mb-4 text-lg font-bold">
        <fa-icon [icon]="faClock"></fa-icon> Recently viewed
      </h1>
      <div class="grid grid-cols-4 gap-4">
        <a
          routerLink="/app/boards/1"
          class="w-full h-24 px-4 py-2 font-bold text-white rounded bg-sky-700"
          >Board 1</a
        >
        <a
          routerLink="/app/boards/1"
          class="w-full h-24 px-4 py-2 font-bold text-white bg-green-700 rounded"
          >Board 1</a
        >
        <a
          routerLink="/app/boards/1"
          class="w-full h-24 px-4 py-2 font-bold text-white rounded bg-amber-700"
          >Board 1</a
        >
        <a
          routerLink="/app/boards/1"
          class="w-full h-24 px-4 py-2 font-bold text-white bg-indigo-700 rounded"
          >Board 1</a
        >
      </div>
    </div>
  </div>
</ng-container>
