<nav class="px-6 border-gray-200 shadow-md bg-sky-700">
  <div class="flex flex-wrap items-center justify-between">
    <div class="flex items-center">
      <a routerLink="/app">
        <img
          loading="lazy"
          class="w-20 mr-8"
          src="/assets/images/logo/logo-gradient-white-trello.png"
          alt="logo"
        />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <app-btn
              color="sky"
              (click)="isOpenOverlayBoards = !isOpenOverlayBoards"
              cdkOverlayOrigin
              #boardsOverlay="cdkOverlayOrigin"
            >
              <span class="flex space-x-2 text-left">
                <span>Boards</span>
                <fa-icon [icon]="faAngleDown"></fa-icon>
              </span>
            </app-btn>
          </li>
          <li>
            <a routerLink="/app/users" class="block px-4 py-3 text-white"
              >Users</a
            >
          </li>
          <li>
            <app-btn typeBtn="button" color="sky">Create</app-btn>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center">
      <div class="flex space-x-2">
        <button class="text-white" type="button">
          <fa-icon [icon]="faBell"></fa-icon>
        </button>
        <button class="text-white" type="button">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </button>
        <button
          type="button"
          class="flex rounded-full"
          aria-expanded="false"
          type="button"
          (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
          cdkOverlayOrigin
          #menuOverlay="cdkOverlayOrigin"
        >
          <img
            class="w-8 h-8 rounded-full"
            src="https://api.lorem.space/image/face?w=400&h=400"
            alt="user photo"
          />
        </button>
      </div>
    </div>
  </div>
</nav>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpenOverlayAvatar"
  (overlayOutsideClick)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
>
  <div
    class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow w-60"
  >
    <div class="relative px-4 py-2 text-center">
      <span class="block text-gray-900 text-normal">Account</span>
      <button
        (click)="isOpenOverlayAvatar = !isOpenOverlayAvatar"
        class="absolute block text-sm text-gray-900 right-3 top-3"
      >
        <fa-icon [icon]="faClose"></fa-icon>
      </button>
    </div>
    <div class="flex items-center px-4 py-3 space-x-4">
      <img
        class="w-10 h-10 rounded-full"
        src="https://api.lorem.space/image/face?w=400&h=400"
        alt=""
      />
      <div class="space-y-1">
        <div>Jese Leos</div>
        <div class="text-sm text-gray-500">nico@gmail.com</div>
      </div>
    </div>
    <ul class="py-1">
      <li>
        <a
          routerLink="/app/profile"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Profile</a
        >
      </li>
      <li>
        <a
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Activity</a
        >
      </li>
      <li>
        <a
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Cards</a
        >
      </li>
      <li>
        <a
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Settings</a
        >
      </li>
    </ul>
    <ul class="py-1">
      <li>
        <button
          class="block px-4 py-2 text-sm text-gray-700"
          (click)="logout()"
        >
          Log out
        </button>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="boardsOverlay"
  [cdkConnectedOverlayOpen]="isOpenOverlayBoards"
  (overlayOutsideClick)="isOpenOverlayBoards = !isOpenOverlayBoards"
>
  <div
    class="z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow w-60"
  >
    <div class="relative px-4 py-2 text-center">
      <span class="block text-gray-900 text-normal">Boards</span>
      <button
        (click)="isOpenOverlayBoards = !isOpenOverlayBoards"
        class="absolute block text-sm text-gray-900 right-3 top-3"
      >
        <fa-icon [icon]="faClose"></fa-icon>
      </button>
    </div>
    <div class="flex justify-between px-4 py-3">Content</div>
  </div>
</ng-template>
